.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/Dec8/home-img.jpeg) no-repeat;
    background-position: center;
    background-size: cover;

    .content {
        max-width: 60rem;

        h3 {
            font-size: 6rem;
            text-transform: uppercase;
            color: #fff;
        }

        p {
            padding: 1rem 0;
            font-size: 2rem;
            color: #eee;
            font-weight: lighter;
            line-height: 1.8;
        }
    }
}

.about {
    .row {
        display: flex;
        align-items: center;
        background: var(--black);
        flex-wrap: wrap;

        .image {
            flex: 1 1 45rem;

            img {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 45rem;
            padding: 2rem;

            h3 {
                font-size: 3rem;
                color: #fff;
            }

            p {
                padding: 1rem 0;
                font-size: 1.6rem;
                color: #ccc;
                line-height: 1.8;
            }
        }
    }
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
        padding: 5rem;
        text-align: center;
        border: var(--border);

        img {
            height: 10rem;
        }

        h3 {
            padding: 1rem 0;
            font-size: 2rem;
            color: #fff;
        }

        .price {
            padding: 0.5rem 0;
            font-size: 2.5rem;
            color: #fff;

            span {
                font-size: 1.5rem;
                text-decoration: line-through;
                font-weight: lighter;
            }
        }

        &:hover {
            background: #fff;

            > * {
                color: var(--black);
            }
        }
    }
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
        padding: 2rem;
        text-align: center;
        border: var(--border);

        .icon {
            a {
                margin: 0.3rem;
                width: 5rem;
                height: 5rem;
                font-size: 2rem;
                color: #fff;
                border: var(--border);
                line-height: 5rem;

                &:hover {
                    background: var(--primary-color);
                }
            }
        }

        .image {
            padding: 2.5rem 0;

            img {
                height: 25rem;
            }
        }

        .content h3 {
            font-size: 2.5rem;
            color: #fff;
        }

        .content .stars {
            padding: 1.5rem;

            i {
                font-size: 1.7rem;
                color: var(--primary-color);
            }
        }

        .content .price {
            font-size: 2.5rem;
            color: #fff;

            span {
                font-size: 1.5rem;
                text-decoration: line-through;
                font-weight: lighter;
            }
        }
    }
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
        padding: 3rem 2rem;
        text-align: center;
        border: var(--border);

        p {
            padding: 2rem 0;
            font-size: 1.5rem;
            color: #ccc;
            line-height: 1.8;
        }

        .user {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            object-fit: cover;
        }

        h3 {
            padding: 1rem 0;
            font-size: 2rem;
            color: #fff;
        }

        i {
            font-size: 1.5rem;
            color: var(--primary-color);
        }
    }
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;

    .map {
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }

    form {
        flex: 1 1 45rem;
        padding: 5rem 2rem;
        text-align: center;

        h3 {
            text-transform: uppercase;
            font-size: 3.5rem;
            color: #fff;
        }

        .inputBox {
            display: flex;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background: var(--bg);
            border: var(--border);

            span {
                padding-left: 2rem;
                font-size: 2rem;
                color: #fff;
            }

            input {
                padding: 2rem;
                width: 100%;
                font-size: 1.7rem;
                color: #fff;
                background: none;
                text-transform: none;
            }
        }
    }
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
        border: var(--border);

        .image {
            overflow: hidden;
            width: 100%;
            height: 25rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;

            .title {
                font-size: 2.5rem;
                line-height: 1.5;
                color: #fff;

                &:hover {
                    color: var(--primary-color);
                }
            }

            span {
                display: block;
                padding-top: 1rem;
                font-size: 2rem;
                color: var(--primary-color);
            }

            p {
                padding: 1rem 0;
                font-size: 1.6rem;
                color: #ccc;
                line-height: 1.8;
            }
        }

        &:hover {
            .image img {
                transform: scale(1.2);
            }
        }
    }
}

.footer {
    text-align: center;
    background: var(--black);

    .share {
        padding: 1rem 0;

        a {
            margin: 0.3rem;
            width: 5rem;
            height: 5rem;
            font-size: 2rem;
            color: #fff;
            border: var(--border);
            border-radius: 50%;
            line-height: 5rem;

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
        gap: 1rem;

        a {
            padding: 0.7rem 2rem;
            font-size: 2rem;
            color: #fff;
            border: var(--border);

            &:hover {
                background: var(--primary-color);
            }
        }
    }

    .credit {
        padding: 1.5rem;
        font-size: 2rem;
        color: #fff;
        font-weight: lighter;

        span {
            color: var(--primary-color);
        }
    }
}

@media (max-width: 768px) {
    .home {
        justify-content: center;
        text-align: center;
        background-position: left;

        .content {
            h3 {
                font-size: 4.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}
