@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: Lato, Butler, sans-serif;
    background: url("../images/Dec14/pexels-cliford-mervil-2469122.jpg") center no-repeat;
    background-size: cover;
}

i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fac);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 10s linear infinite;

    &:nth-child(3n+1) {
        filter: hue-rotate(90deg);
    }

    &:nth-child(3n+2) {
        filter: hue-rotate(180deg);
    }

    &:nth-child(3n+3) {
        filter: hue-rotate(270deg);
    }
}

@keyframes animate {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(calc(90vh - 200px));
    }
}

@media (max-width: 540px) {
    html {
        font-size: 16px;
    }
}
