@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Lato, Butler, sans-serif;
    color: #fffaff;
    background-color: #3f3752;
}

.conataincer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 1rem;
    flex-wrap: wrap;

    .serviceBox {
        position: relative;
        overflow: hidden;
        width: 25vw;
        min-width: 350px;
        max-width: 400px;
        height: 14rem;
        background-color: #51446e;
        border-radius: 1rem;

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 5rem;
            background-color: #faf;
            transition: 0.3s linear;
            font-weight: 700;
        }

        .content {
            position: relative;
            z-index: 1;
            padding: 1rem;
            margin-top: 5rem;
            text-align: center;

            h3 {
                margin-bottom: 0.5rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.2rem;
                color: #faf;
            }

            p {
                overflow: hidden;
                margin-bottom: 0.5rem;
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1rem;
            }

            a {
                font-size: 1.5rem;
                letter-spacing: 0.1rem;
                text-decoration: none;
                font-weight: 700;
                text-transform: capitalize;
                color: #fff8dc;
            }
        }

        &:hover {
            .icon {
                top: 30px;
                left: calc(50% - 2rem);
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
                border-radius: 50%;
            }
        }

        &:nth-child(2) {
            .icon {
                filter: hue-rotate(45deg);
            }

            .content h3 {
                filter: hue-rotate(45deg);
            }
        }

        &:nth-child(3) {
            .icon {
                filter: hue-rotate(90deg);
            }

            .content h3 {
                filter: hue-rotate(90deg);
            }
        }

        &:nth-child(4) {
            .icon {
                filter: hue-rotate(135deg);
            }

            .content h3 {
                filter: hue-rotate(135deg);
            }
        }

        &:nth-child(5) {
            .icon {
                filter: hue-rotate(180deg);
            }

            .content h3 {
                filter: hue-rotate(180deg);
            }
        }

        &:nth-child(6) {
            .icon {
                filter: hue-rotate(225deg);
            }

            .content h3 {
                filter: hue-rotate(225deg);
            }
        }
    }
}
