@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Lato, Butler, sans-serif;
    color: #333;
    background: linear-gradient(60deg, #fbc561, #847eb0);
}

.container {
    padding: 1em;
    width: 80%;
    max-width: 800px;

    .txtb {
        padding: 1em;
        width: 100%;
        font-size: 1.5em;
        background: none;
        border: none;
        outline: none;
        border-bottom: 2px solid #333;
    }

    h2 {
        position: relative;
        margin: 1em 0;
        font-size: 2em;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.025em;
        text-transform: uppercase;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #333;
            content: "";
        }
    }

    .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 1em;
        margin: 0.3em 0;
        width: 100%;
        background-color: #fffa;
        flex-direction: row;
        text-transform: capitalize;
        border-radius: 1em;

        span {
            i {
                position: relative;
                padding: 0.5em;
                cursor: pointer;
                border-radius: 50%;

                + i {
                    margin-left: 0.5em;

                    &::after {
                        position: absolute;
                        top: 0.5em;
                        left: -0.25em;
                        width: 1px;
                        height: calc(100% - 1em);
                        background-color: #333;
                        content: "";
                    }
                }

                &:hover {
                    color: #0008;
                    background-color: #0003;
                }
            }
        }

        &:hover {
            background-color: #fffc;
        }
    }

    .comp {
        .task {
            color: #fdf5e6;
            background-color: #0008;

            span {
                i {
                    &:hover {
                        color: #fdf5e6f0;
                        background-color: #000c;
                    }
                }
            }

            &:hover {
                background-color: #000a;
            }
        }
    }

    .comp,
    .notcomp {
        padding: 1em;
        margin: 1em;
        border: 1px solid #fff0;
        border-radius: 1em;
        transition: 0.3s linear;

        &:hover {
            background-color: #fff8;
            border: 1px solid cornsilk;
            box-shadow: 3px 3px 6px cornsilk;
        }
    }
}

@media (max-width: 540px) {
    .container {
        h2 {
            font-size: 1.5em;
        }
    }
}
