@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 20px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: Butler, Lato, sans-serif;
}

.sec {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #1111;
}

.sec h2 {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15vw;
  text-align: center;
  color: #fff;
  background: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 900;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}

.sec video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec .dot {
  position: absolute;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  background-color: #fff8;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: default;
}

.sec .dot.active {
  background-color: #3338;
  border: 2px solid;
}

.sec .dot.active::before {
  content: "Dark Mode";
  color: #333;
}

.sec .dot.active:active {
  border: 2px solid;
  -webkit-box-shadow: 0 0 0 200vh #fff8;
          box-shadow: 0 0 0 200vh #fff8;
}

.sec .dot:active {
  border: 2px solid;
  -webkit-box-shadow: 0 0 0 200vh #333c;
          box-shadow: 0 0 0 200vh #333c;
}

.sec .dot::before {
  position: absolute;
  top: 50%;
  left: 110%;
  font-size: 1.5rem;
  white-space: nowrap;
  color: #fff;
  content: "Light Mode";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
}

.sec.active {
  background: url("../images/Dec22/pexels-burak-kebapci-870827.jpg") center no-repeat;
  background-size: cover;
}

.sec.active h2 {
  color: #000a;
  background-color: #fff;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .sec {
    background: url("../images/Dec22/pexels-tomas-ryant-2881804.jpg") center no-repeat;
    background-size: cover;
  }
  .sec video {
    display: none;
    visibility: hidden;
  }
  .sec h2 {
    color: #000a;
    background-color: #fff;
  }
  .sec.active {
    background: url("../images/Dec22/pexels-burak-kebapci-870827.jpg") center no-repeat;
    background-size: cover;
  }
  .sec.active h2 {
    color: #000a;
    background-color: #fff;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 14px;
  }
  .sec {
    background: url("../images/Dec22/pexels-karolina-grabowska-5469707.jpg") center no-repeat;
  }
  .sec.active {
    background: url("../images/Dec22/pexels-lucas-pezeta-1854219.jpg") center no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=Dec22.css.map */