@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("../font/Butler_Webfont/stylesheet.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: Lato, Butler, sans-serif;
  color: #fffaff;
  background: url("https://picsum.photos/1400/1080?random=19");
  background-position: center;
  background-size: cover;
}

.header {
  height: 5rem;
  background-color: #2f3640;
}

.header .inner_width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  margin: auto;
  width: 100%;
}

.header .inner_width .logo {
  width: 50px;
}

.header .inner_width .logo img {
  width: 100%;
  border-radius: 50%;
}

.header .inner_width .navigation_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}

.header .inner_width .navigation_menu a {
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  color: #ddd;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  text-transform: uppercase;
}

.header .inner_width .navigation_menu a:hover {
  color: #2f3640;
  background-color: azure;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .inner_width .navigation_menu i {
  margin-right: 1rem;
  font-size: 1rem;
}

.header .inner_width .navigation_menu .home {
  color: #ff6b6b;
}

.header .inner_width .navigation_menu .about {
  color: #0abde3;
}

.header .inner_width .navigation_menu .works {
  color: #feca57;
}

.header .inner_width .navigation_menu .team {
  color: #2f04cd;
}

.header .inner_width .navigation_menu .contact {
  color: #1dd1a1;
}

.header .inner_width .menu_toggle_btn {
  display: none;
  height: 5rem;
  font-size: 1.5rem;
  color: #fffaff;
  line-height: 5rem;
}

@media (max-width: 850px) {
  .header .inner_width .navigation_menu {
    position: fixed;
    top: 5rem;
    right: -50%;
    display: block;
    padding: 1.5rem 2.5rem;
    width: 100%;
    max-width: 50%;
    background-color: #172b4dcc;
    border-bottom-left-radius: 1rem;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .header .inner_width .navigation_menu a {
    display: block;
    margin: 0.5rem 0;
  }
  .header .inner_width .navigation_menu::before {
    position: absolute;
    top: -10px;
    right: 1.25rem;
    content: "";
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #0abde3;
  }
  .header .inner_width .navigation_menu.active {
    right: 0;
  }
  .header .inner_width .menu_toggle_btn {
    display: block;
  }
}
/*# sourceMappingURL=Dec6.css.map */